{% extends "base.html" %}

{% block content %}


<div class="container mt-5">

  <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h2>Login</h2>

      <div class="mb-3">
        {% for message in messages %}
        
            {% if message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-{{message.tags}}" role="alert">
                  {{ message }}
                </div>
            {% endif %}
        {% endfor %}
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" class="form-control" autocomplete="off" name="username">
   
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" autocomplete="off" name="password">
      </div>

      <p>Don't have an account <a href="/register/">REGISTER</a></p>
     
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  

</div>
{% endblock content %}

